
<!--[if lt IE 9]><span class="bracket">&lt;</span><span class="tag">html</span> <span class="attribute">class</span>=<span class="value">&quot;ie&quot;</span><span class="bracket">&gt;</span><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->


  
  <head>
    <meta charset="utf-8"/>
    <meta http=""-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Homemade Spaceship - {{ page.title }}</title>
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <!-- Feel free to split the CSS into separate files, if you like. -->
    <link rel="stylesheet" href="/css/folio.css"/> 
    
    <!-- Here's Golden Gridlet, the grid overlay script. -->
    <script src="/js/GGS.js"></script>

    
    <!-- This script enables structural HTML5 elements in old IE. http://code.google.com/p/html5shim/ -->
    <!--[if lt IE 9]> <span class="bracket">&lt;</span><span class="tag">script</span> <span class="attribute">src</span>=<span class="value">&quot;//html5shim.googlecode.com/svn/trunk/html5.js&quot;</span><span class="bracket">&gt;</span><span class="bracket">&lt;/</span><span class="tag">script</span><span class="bracket">&gt;</span> <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  </head>
  
  <body lang="en">
    
    <!-- Demo code begins -->
    <div id="headWrap">
    <header>
      <div class="wrapper">
        <h1>HOMEMADE SPACESHIP<br/>WINTER FOLIO MMXII</h1>
      </div>
    </header>
    </div>
    
    <article id="content" class="foliocontent">
        {{ content }}
    </article>
    
    <div id="footerly">
    <footer id="colophon">
      <div class="wrapper">
        <h3>Get in Touch</h3>
        <p>We peddal our wares on <a href="http://newtribetextiles.etsy.com/">Etsy</a>, please help support the artists of your internet neighborhood. Talk to us via <a href="http://twitter.com/hmsp">Twitter</a>.</p>
      </div>
      <div class="wrapper">
        <h3>Your Hosts</h3>
        <p>Homemade Spaceship is Jeannie and Kyle, nomads and artists.  You are reading our great world of stories and technology, art and creation and investigations into alternative ways of living.</p>
        <p>As of December 2011, we've hung up our backpacks and boots for the moment and abated our nomad ways, at least superficially.  If you are passing though Truth or Consequences stop by and visit as we almost certainly will be here.</p>
      </div>
      <!--<div class="wrapper">
      <h3>Options</h3>
        <ul>
          <li><a href="/textiles">Textiles</a></li>
          <li><a href="/paint">Paint</a></li>
          <li><a href="/tech">Tech (Nomad)</a></li>
          <li><a href="/lore">Lore</a></li>
          <li><a href="/alchemy">Alchemy</a></li>
          <li><a href="blog.homemadespaceship.net">Teardop Life</a></li>
        </ul>
      </div>
      -->
    </footer>
    </div>
    <!-- Demo code ends -->
    

      <script>
         var _gaq = [['_setAccount', 'UA-12210569-2'], ['_trackPageview']];
         (function(d, t) {
           var g = d.createElement(t),
           s = d.getElementsByTagName(t)[0];
           g.async = true;
           g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           s.parentNode.insertBefore(g, s);
         })(document, 'script');
       </script>

  </body>
  
</html>
